
body{
  background-color: hsl(210, 60%, 98%);
  font-family: 'Plus Jakarta Sans', sans-serif;
}
a{
  text-decoration: none;
  color: hsl(219, 12%, 42%);
  font-weight: 800;
}
a:hover{
  color: hsl(219, 57%, 27%);
}
.name{
  color: black;
}
.name:hover{
  color: hsl(219, 57%, 27%);
}
.container{
  margin: 3% auto;
  width: 50%;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
}

@media only screen and (max-width: 900px){
  .container{
    width: 90%;
  }
  body{
    background-color: white;
  }
}
.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1vw;
}
.notifications{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 15px 15px 0px;
  font-size: 22px;
  font-weight: 800;
}
.notification-count{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  background-color:hsl(219, 57%, 27%);
  color: hsl(0, 0%, 100%);
  border-radius: 15%;
}
.dot{
  color: red;
  font-size: 16px;
  font-weight: 800;
}
.hide-dot{
  visibility: hidden
}
.mark-read{
  padding: 16px;
  font-weight: 500;
  color: rgb(79, 83, 83);
}
.mark-read:hover{
  cursor: pointer;
  color: hsl(219, 57%, 27%);
}
.notification-card{
  display: flex;
  flex-direction: row;
  background-color: hsl(211, 68%, 94%);
  border-radius: 10px;
  margin-bottom: 10px;
  align-items: flex-start;
}
.notification-card-read{
  background-color: azure;
}
.profile-thumb{
  margin: 15px;
}
.profile-thumb img{
height: 50px;
}
.notification-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}
.notification-content p {
  margin: 0;
}
.post-image img{
  height: 50px;
padding: 10px 20px 10px 0px;
}

.message{
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px !important;
  border: rgb(212, 212, 212) solid 1px;
  background-color: white;
}
.message:hover{
  background-color: hsl(211, 68%, 94%);
  cursor: pointer;
}
/* #rh{
   display: flex;
  flex-direction: column !important;
} */
.read{
  background-color: white; 
}
.unread::after{
  content: '';
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 2vw;
}